@font-face {
  font-family: "inter";
  src: url("./fonts/inter.woff2");
}

@font-face {
  font-family: "ktf-roadbrush";
  src: url("./fonts/KTF-Roadbrush.ttf");
}

@font-face {
  font-family: "norse-bold";
  src: url("./fonts/Norse-Bold.otf");
}

:root {
  /* 60-30-10 Color System */
  --primary-clr: #0c310c;
  --secondary-clr: #196619;
  --accent-clr: #65e765;
  
  /* Text Colors */
  --text-on-primary: #ffffff;
  --text-on-accent: #000000;
}

* {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'inter';
  color: var(--text-on-primary);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  background-color: var(--primary-clr);
}

h1 {
  font-family: "norse-bold";
}

header, .sidebar, .dropdown, footer {
  background-color: var(--secondary-clr);
}

header, footer {
  display: flex;
  padding: 8px 16px;
}

header {
  justify-content: space-between;
}

.toggle-sidebar-btn {
  line-height: 0;
}

.toggle-sidebar-btn > img {
  width: 24px;
  height: 24px;
}

.sidebar {
  height: 100%;
  position: fixed;
  width: 250px;
  box-shadow: 0px 2px 6px #000;
  z-index: 2;
  padding: 8px;
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.dropdown, .toggle-dropdown {
  position: absolute;
}

body, .sidebar, .projects, 
.todos-container, .todo {
  display: flex;
  flex-direction: column;
}

.add-todo-btn {
  font-size: 1.1rem;
  color: var(--accent-clr);
  display: inline-flex;
  gap: 4px;
  padding-left: 5px;
}

.add-todo-btn::before {
  content: "＋";
  width: 17.6px;
  height: 17.6px;
  font-size: 19px;
  background-color: var(--accent-clr);
  color: var(--text-on-accent);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.projects-heading {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 5px;
  padding-top: 15px;
}

button, label {
  font-weight: 500;
}

.projects {
  flex-grow: 1;
  padding-top: 0;
  gap: 5px;
  overflow-y: scroll;
}

.projects > button {
  text-transform: capitalize;
  text-align: left;
  padding: 5px;
}

.projects > button:hover, .selected-project-btn {
  background-color: var(--accent-clr);
  color: var(--text-on-accent);
}

.add-project {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.add-project > button {
  background-color: var(--accent-clr);
  color: var(--text-on-accent);
  font-size: 0.8rem;
  padding: 5px;
}

.add-project > input {
  padding: 5px;
  background-color: var(--secondary-clr);
  border: 2px solid rgb(255 255 255 / 0.19);
}

.todos-container.empty {
  justify-content: center;
  align-items: center;
  color: rgb(255 255 255 / .7);
}

.todos-container {
  flex-grow: 1;
  padding: 10px;
  gap: 16px;
}

.todo {
  padding: 16px;
  gap: 10px;
  border-radius: 12px;
  border-left: 8px solid var(--accent-clr);
  box-shadow: 0px 2px 6px #000;
  position: relative;
}

.toggle-dropdown {
  font-size: 1.8rem;
  right: 16px;
}

.dropdown {
  border-radius: 4px;
  top: 58px;
  right: 8px;
  animation: expand 0.2s ease-out;
  transform-origin: top;
  box-shadow: 0px 2px 6px #000;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 6px;
  width: 12px;
  height: 12px;
  background-color: var(--secondary-clr);
  transform: rotate(45deg);
}

.dropdown > button {
  width: 100%;
  padding: 4px;
  text-align: left;
}

.dropdown > button:hover {
  color: var(--text-on-accent);
  background-color: var(--accent-clr);
}

.row > * {
  overflow-wrap: break-word;
}

.row > p {
  padding-top: 5px;
  color: rgb(255 255 255 / .7);
}

button {
  border: none;
  background: none;
  border-radius: 4px;
}

button, form *, footer > p {
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

dialog {
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 10px #000;
  background-color: var(--primary-clr);
}

form {
  display: grid;
  gap: 16px;
}

form > p {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

input, select, textarea {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 2px solid rgb(25 102 25 / 0.19);
  background-color: var(--primary-clr);
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--accent-clr);
}

.submit-btn {
  width: 100%;
  padding: 6px;
  color: var(--text-on-accent);
  background-color: var(--accent-clr);
}

footer {
  justify-content: center;
  margin-top: auto;
}

footer > p {
  font-family: "ktf-roadbrush";
}

footer a {
  display: inline-flex;
  gap: 5px;
  font-family: inherit;
}

a:hover {
  opacity: 0.9;
}

footer img {
  width: 16px;
  height: 16px;
  align-self: center;
}

.hide {
  display: none;
}

.sidebar.hide {
  animation: slide-out 0.3s ease-in;
}

.dropdown.hide {
  animation: collapse 0.2s ease-in;
}

@keyframes slide-out {
  0% {
    display: flex;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}

@keyframes collapse {
  0% {
    display: block;
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
    display: none;
  }
}

.preload .hide {
  animation: none;
}